.header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    

    .header-up {
        height: 60%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .logo {
            width: 23%;
            img {
                width: 70%;
                height: 70%;
                align-items: center;
            }
        }
        .search {
            width: 50%;
        }
        .login {
            width: 20%;
            display: flex;
            justify-content: center;
            
            .welcome {
                font-size: 18px;
                color: red;
                margin: auto;
                cursor: pointer; 
            }
           
        }
    }

    .header-down {
        height: 40%;

        .topnav {
            overflow: hidden;
            background-color: #333;

            .menu {
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                a {
                    float: left;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                    font-size: 17px;
                    width: 120px;
                }
    
                a:hover {
                    background-color: #ddd;
                    color: black;
                }
    
                a.active {
                    background-color: #04AA6D;
                    color: white;
                }
            }
        }
    }
}